.button {
  color: #fff;
  text-align: center;
  background-clip: padding-box;
  background-color:  #918fe1;
  border: 1px solid transparent;
  border-radius: 100px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 5px 10px 0;
  cursor: pointer;
  display: inline-flex;
  box-sizing: border-box;
  flex-direction: row;

  font-family: Roboto, Arial;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 33px;
  display: flex;

  flex-basis: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 1px;

  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}

.button:hover,
.button:focus {
  background-color: #918fe1;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 10px;
}

.button:hover {
  transform: translateY(-2px);
}

.button:active {
  background-color: #716fda;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.log-in {
  letter-spacing: 1px;
  margin-top: 1px;
}
