.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3 ease-in-out;
  pointer-events: none;
  z-index: 10;
}

.modal.show {
  opacity: 1;
  pointer-events: visible;
}

.modal-content {
  width: 500px;
  background-color: #f0f4f3;
  transform: translateY(-200px);
  transition: all 0.3s ease-in-out;
}

.modal.show .modal-content {
  transform: translateY(0);
}

.modal-header, .modal-footer {
  padding: 10px;
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.submitButt {
  display: block;
  background-color:  #918fe1;
  height: 40px;
  border-radius: 20px;
  line-height: 36px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.875em;
  border: none;
  font-weight: 700;
  padding: 0 34px;
  margin: 0 auto;
}

.submitButt:hover {
  background-color: #918fe1;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 10px;
}

.cancelButt {
  font-size: 12px;
  text-align: center;
  margin-top: 1em;
}

.cancelButt:hover {
  text-decoration: underline;
}