/* ::placeholder {
  color: rgb(153, 148, 156);
  padding: 5px;
}

.title {
  letter-spacing: 1px;
  font-size: 5rem;
  font-weight: bold;
  line-height: 21px;
}

.description {
  text-align: center;
  letter-spacing: 1px;
  color: #000c;
  margin-bottom: 18px;
  margin-left: 3px;
} */