.imageSet {
  color: #fff;
}

/* .speechMsg {
  letter-spacing: 2px;
  margin-top: 3px;
  margin-left: 2px;
} */

/* .dog {
  width: auto;
  height: 20%;
  object-fit: contain;
  margin-top: 2px;
  display: block;
  align-self: center;
} */